react-native-animation/node_modules/
react-native-auth/server/node_modules
react-native-auth/auth-app/node_modules
job-map/node_modules 
react-native-auth/server/.env
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
